@import "{{ site.theme }}";

/*header {
  display: none;
}*/

.logo {
border: initial;
box-shadow: initial;
-webkit-box-shadow: initial;
-moz-box-shadow: initial;
-o-box-shadow: initial;
-ms-box-shadow: initial;
}

#header_wrap {
background: #f2f2f2;
}

#header_wrap .inner {
  padding: 50px 10px 0 10px;
}

#main_content_wrap {
border-top: 0;
}

#main_content {
  padding-top: 10px;
}

.page-button {
box-shadow:inset 0px 1px 3px 0px #91b8b3;
background:linear-gradient(to bottom, #7f58c2 5%, #8d4091 100%);
background-color:#7f58c2;
border-radius:5px;
border:1px solid #853885;
display:inline-block;
cursor:pointer;
color:#ffffff;
font-family:Arial;
font-size:15px;
font-weight:bold;
padding:11px 23px;
text-decoration:none;
text-shadow:0px -1px 0px #ad2fcc;
}

.page-button:not(.first-button) {
margin-left: 10px;
}

.page-button:hover {
background:linear-gradient(to bottom, #8d4091 5%, #7f58c2 100%);
background-color:#8d4091;
}

.page-button:active {
position:relative;
top:1px;
}

        
